
<section class="py-5" id="bodySection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="Details" (submit)="submitData()">
          <div class="form-group">
            <label for="exampleInputEmail1">FirstName</label>
            <input
              type="text"
              class="form-control"
              formControlName="FirstName"
              id="examplename"
              aria-describedby="emailHelp"
              placeholder="Enter the FirstName"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">LastName</label>
            <input
              type="text"
              class="form-control"
              formControlName="LastName"
              id="exampleInputPassword1"
              placeholder="Enter the LastName"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input
              type="text"
              class="form-control"
              formControlName="Email"
              id="exampleInputEmail1"
              placeholder="Enter Email Id"
            />
          </div>

          <button type="submit" class="btn btn-success">Add-Details</button>
          &nbsp;
        </form>
      </div>
    </div>
  </div>
</section>
